<!DOCTYPE html>
<html>
	<head>
		<title>Zach Laubach</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/1_home">Home</a></li>
	        	<li><a href="/2_research">Research</a></li>
        		<li><a href="/3_publications">Publications</a></li>
        		<li><a href="/4_outreach_and_teaching">Outreach and Teaching</a></li>
            <li><a href="/5_cv">CV</a></li>
            <li><a href="/6_contact">Contact</a></li>
    		</ul>
		</nav>
	</body>
</html>
